body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.937254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:53px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:24px;
  width:69px;
  height:29px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:537px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:53px;
  width:899px;
  height:537px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:109px;
  width:140px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:143px;
  width:163px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:177px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:211px;
  width:103px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u106_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:208px;
  width:157px;
  height:25px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106.disabled {
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:365px;
  width:78px;
  height:30px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:203px;
  width:78px;
  height:30px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:142px;
  height:25px;
}
#u109p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:138px;
  height:10px;
  -webkit-transform:rotate(-0.474485970081773deg);
  -moz-transform:rotate(-0.474485970081773deg);
  -ms-transform:rotate(-0.474485970081773deg);
  transform:rotate(-0.474485970081773deg);
}
#u109p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:10px;
}
#u109p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-64.4744859700818deg);
  -moz-transform:rotate(-64.4744859700818deg);
  -ms-transform:rotate(-64.4744859700818deg);
  transform:rotate(-64.4744859700818deg);
}
#u109p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u109p002 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-12px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-180.474485970082deg);
  -moz-transform:rotate(-180.474485970082deg);
  -ms-transform:rotate(-180.474485970082deg);
  transform:rotate(-180.474485970082deg);
}
#u109p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:290px;
  width:129px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(64.4744859700818deg);
  -moz-transform:rotate(64.4744859700818deg);
  -ms-transform:rotate(64.4744859700818deg);
  transform:rotate(64.4744859700818deg);
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#D9001B;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:446px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:57px;
  height:25px;
}
#u111p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:50px;
  height:6px;
  -webkit-transform:rotate(-0.198387765396063deg);
  -moz-transform:rotate(-0.198387765396063deg);
  -ms-transform:rotate(-0.198387765396063deg);
  transform:rotate(-0.198387765396063deg);
}
#u111p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u111p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-88.1983877653961deg);
  -moz-transform:rotate(-88.1983877653961deg);
  -ms-transform:rotate(-88.1983877653961deg);
  transform:rotate(-88.1983877653961deg);
}
#u111p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u111p002 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-13px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-180.198387765396deg);
  -moz-transform:rotate(-180.198387765396deg);
  -ms-transform:rotate(-180.198387765396deg);
  transform:rotate(-180.198387765396deg);
}
#u111p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:416px;
  width:44px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(88.1983877653961deg);
  -moz-transform:rotate(88.1983877653961deg);
  -ms-transform:rotate(88.1983877653961deg);
  transform:rotate(88.1983877653961deg);
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#D9001B;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:365px;
  width:160px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:27px;
  width:56px;
  height:16px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:251px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u115_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:248px;
  width:157px;
  height:25px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115.disabled {
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:295px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u117_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:292px;
  width:157px;
  height:25px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117.disabled {
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:292px;
  width:78px;
  height:30px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:76px;
  height:25px;
}
#u119p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:6px;
  -webkit-transform:rotate(0.083656392540469deg);
  -moz-transform:rotate(0.083656392540469deg);
  -ms-transform:rotate(0.083656392540469deg);
  transform:rotate(0.083656392540469deg);
}
#u119p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u119p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-45.9163436074595deg);
  -moz-transform:rotate(-45.9163436074595deg);
  -ms-transform:rotate(-45.9163436074595deg);
  transform:rotate(-45.9163436074595deg);
}
#u119p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u119p002 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-12px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-179.91634360746deg);
  -moz-transform:rotate(-179.91634360746deg);
  -ms-transform:rotate(-179.91634360746deg);
  transform:rotate(-179.91634360746deg);
}
#u119p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:335px;
  width:63px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(45.9163436074595deg);
  -moz-transform:rotate(45.9163436074595deg);
  -ms-transform:rotate(45.9163436074595deg);
  transform:rotate(45.9163436074595deg);
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:31px;
  width:130px;
  height:16px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:160px;
  height:25px;
}
#u121p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:152px;
  height:6px;
  -webkit-transform:rotate(0.037094895469636deg);
  -moz-transform:rotate(0.037094895469636deg);
  -ms-transform:rotate(0.037094895469636deg);
  transform:rotate(0.037094895469636deg);
}
#u121p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:6px;
}
#u121p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-163.96290510453deg);
  -moz-transform:rotate(-163.96290510453deg);
  -ms-transform:rotate(-163.96290510453deg);
  transform:rotate(-163.96290510453deg);
}
#u121p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u121p002 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-11px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(-179.96290510453deg);
  -moz-transform:rotate(-179.96290510453deg);
  -ms-transform:rotate(-179.96290510453deg);
  transform:rotate(-179.96290510453deg);
}
#u121p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:283px;
  width:147px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(163.96290510453deg);
  -moz-transform:rotate(163.96290510453deg);
  -ms-transform:rotate(163.96290510453deg);
  transform:rotate(163.96290510453deg);
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:117px;
  height:25px;
}
#u122p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:114px;
  height:10px;
  -webkit-transform:rotate(0.275986206038283deg);
  -moz-transform:rotate(0.275986206038283deg);
  -ms-transform:rotate(0.275986206038283deg);
  transform:rotate(0.275986206038283deg);
}
#u122p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:10px;
}
#u122p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-174.724013793962deg);
  -moz-transform:rotate(-174.724013793962deg);
  -ms-transform:rotate(-174.724013793962deg);
  transform:rotate(-174.724013793962deg);
}
#u122p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u122p002 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-13px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-179.724013793962deg);
  -moz-transform:rotate(-179.724013793962deg);
  -ms-transform:rotate(-179.724013793962deg);
  transform:rotate(-179.724013793962deg);
}
#u122p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:308px;
  width:104px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(174.724013793962deg);
  -moz-transform:rotate(174.724013793962deg);
  -ms-transform:rotate(174.724013793962deg);
  transform:rotate(174.724013793962deg);
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#D9001B;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:309px;
  width:144px;
  height:54px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
